* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height:100px;
    width:100%;
    background-color: black;
    border:0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}
.line1 {
    height: 15px;
    width: 100%;
    border: 0px solid red;;
    background-color: rgb(39, 39, 39);
}

.line2 {
    height: 15px;
    width: 100%;
    border: 0px solid red;;
    background-color: rgb(51, 51, 51);
}

.line3 {
    height: 15px;
    width: 100%;
    border: 0px solid red;;
    background-color: rgb(102, 102, 102);
}

.bstlogo{
    height:90px;
    width:200px;
    border:0px solid red;
    position: absolute;
    top:5px;
    left:5px;
    background-image: url(@image/bstlogo.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}

.Photo-Showcase{
    height: 110px;
    width: 300px;
    border: 0px solid red;;
    margin: 5px;
   margin-right:5px;
    justify-content: center;
    
   
}

.btn {
    height: 40px;
    width: 180px;
    font-family: system-ui;
    font-size: 18px;
    border-radius: 20px;
    border:0px solid red;;
    outline:none;
 
    cursor: pointer;
    margin:5px;
    background-color:aqua;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

header  .btn:hover{
    background-color: #ff9045;
    border:none;
    outline:none;
    color:white;
}
.empty{
    height:80px;
    width:300px;
    border:0px solid red;
}
.page1{
    height:2800px;
    width:100%;
    border:0px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:30px;
    margin: 0px;
    
}

.box{
    height:300px;
    width:450px;
    overflow: hidden;
    border-radius: 30px;
    margin:10px;
    cursor: pointer;
}
.box img{
    height:100%;
    width:100%;
    object-fit:cover;
    transition: all ease 1s;
}
.box:hover img{
    scale:1.1;
   
}

.home-button a {
    height: 30px;
    width: 40px;
    border:0px solid red;
    border-radius: 10px;
    position: fixed;
    left: 20px;
    bottom: 30px;
    font-size: 20px;
    color: white;
    background: black;
    text-decoration: none;
    font-weight: bold;
    font-family: system-ui;
    text-align: center;
}

